{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS Open API",
    "description": "학교 기본정보 및 급식 식단정보 공개 API (교육정보 공시 서비스, NEIS)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr",
      "description": "NEIS Open API Server"
    }
  ],
  "paths": {
    "/hub/schoolInfo": {
      "get": {
        "operationId": "getSchoolInfo",
        "summary": "학교기본정보",
        "description": "전국 학교의 기본정보를 조회한다. 요청인자를 지정하지 않으면 전체 학교가 조회되며, SCHUL_NM 등으로 필터링할 수 있다.",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "인증키 (기본값: sample key)",
            "schema": { "type": "string" }
          },
          {
            "name": "Type",
            "in": "query",
            "required": true,
            "description": "호출 문서 형식(xml, json) (기본값: xml)",
            "schema": { "type": "string", "enum": ["xml", "json"] }
          },
          {
            "name": "pIndex",
            "in": "query",
            "required": true,
            "description": "페이지 위치 (기본값: 1, sample key는 1 고정)",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pSize",
            "in": "query",
            "required": true,
            "description": "페이지 당 요청 숫자 (기본값: 100, sample key는 5 고정, 최대 1000)",
            "schema": { "type": "integer", "default": 100, "maximum": 1000 }
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": false,
            "description": "시도교육청코드 - 학교를 관리하는 시도교육청 기관코드",
            "schema": { "type": "string" }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": false,
            "description": "행정표준코드 - 각급 기관의 행정업무에 필요한 행정코드를 표준화하여 정해진 절차에 따라 제정·고시한 행정코드 (행정안전부 행정표준코드 관리시스템 제공, code.go.kr)",
            "schema": { "type": "string" }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "required": false,
            "description": "학교명 - 학교의 명칭 (부분 일치 검색 가능)",
            "schema": { "type": "string" }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교종류명 - 학교의 종류 (예: 초등학교, 중학교, 고등학교)",
            "schema": { "type": "string" }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "required": false,
            "description": "시도명 - 학교가 소속되어 있는 시도교육청이 위치한 시도",
            "schema": { "type": "string" }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "required": false,
            "description": "설립명 - 학교의 설립주체에 따른 구분(공립/사립/국립 등)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적인 응답. 응답 본문 내 head.RESULT.CODE로 정상/오류/데이터없음 여부를 함께 판별해야 한다 (예: INFO-200은 조회 결과 없음을 의미하며 HTTP 200으로 반환된다).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SchoolInfoResponse" }
              },
              "application/xml": {
                "schema": { "type": "object" }
              }
            }
          },
          "400": {
            "description": "요청 오류 (필수 파라미터 누락, 인증키 오류, 타입 오류 등). NEIS는 이 경우도 HTTP 200과 함께 RESULT.CODE에 ERROR-3xx 코드를 담아 반환할 수 있으므로, 클라이언트는 HTTP 상태 코드와 RESULT.CODE를 함께 확인해야 한다.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류 (NEIS 내부 서버/DB 오류)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/hub/mealServiceDietInfo": {
      "get": {
        "operationId": "getMealServiceDietInfo",
        "summary": "급식식단정보",
        "description": "특정 학교의 급식 식단정보를 조회한다. ATPT_OFCDC_SC_CODE와 SD_SCHUL_CODE는 필수이며, 날짜 단일 조회(MLSV_YMD) 또는 기간 조회(MLSV_FROM_YMD ~ MLSV_TO_YMD)가 가능하다.",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "인증키 (기본값: sample key)",
            "schema": { "type": "string" }
          },
          {
            "name": "Type",
            "in": "query",
            "required": true,
            "description": "호출 문서 형식(xml, json) (기본값: xml)",
            "schema": { "type": "string", "enum": ["xml", "json"] }
          },
          {
            "name": "pIndex",
            "in": "query",
            "required": true,
            "description": "페이지 위치 (기본값: 1, sample key는 1 고정)",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pSize",
            "in": "query",
            "required": true,
            "description": "페이지 당 요청 숫자 (기본값: 100, sample key는 5 고정, 최대 1000)",
            "schema": { "type": "integer", "default": 100, "maximum": 1000 }
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": true,
            "description": "시도교육청코드 - 시도교육청구분코드",
            "schema": { "type": "string" }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": true,
            "description": "행정표준코드",
            "schema": { "type": "string" }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "required": false,
            "description": "식사코드 - 식사구분코드 (1: 조식, 2: 중식, 3: 석식)",
            "schema": { "type": "string", "enum": ["1", "2", "3"] }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "required": false,
            "description": "급식일자 - 단일 날짜 조회 시 사용 (YYYYMMDD)",
            "schema": { "type": "string", "pattern": "^[0-9]{8}$" }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "required": false,
            "description": "급식시작일자 - 기간 조회 시 시작일 (YYYYMMDD)",
            "schema": { "type": "string", "pattern": "^[0-9]{8}$" }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "required": false,
            "description": "급식종료일자 - 기간 조회 시 종료일 (YYYYMMDD)",
            "schema": { "type": "string", "pattern": "^[0-9]{8}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적인 응답. 응답 본문 내 head.RESULT.CODE로 정상/오류/데이터없음 여부를 함께 판별해야 한다 (예: INFO-200은 조회 결과 없음을 의미하며 HTTP 200으로 반환된다).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MealServiceDietInfoResponse" }
              },
              "application/xml": {
                "schema": { "type": "object" }
              }
            }
          },
          "400": {
            "description": "요청 오류 (필수 파라미터 누락, 인증키 오류, 타입 오류 등). NEIS는 이 경우도 HTTP 200과 함께 RESULT.CODE에 ERROR-3xx 코드를 담아 반환할 수 있으므로, 클라이언트는 HTTP 상태 코드와 RESULT.CODE를 함께 확인해야 한다.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "서버 오류 (NEIS 내부 서버/DB 오류)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultCode": {
        "type": "object",
        "description": "NEIS API 공통 결과 코드. CODE는 'INFO-000'(정상), 'INFO-200'(데이터 없음), 'INFO-300'(인증키 사용 제한), 'ERROR-290'(인증키 유효하지 않음), 'ERROR-300'(필수값 누락), 'ERROR-310'(서비스 없음), 'ERROR-333'(요청위치 타입 오류), 'ERROR-336'(최대 1000건 초과), 'ERROR-337'(일별 트래픽 제한 초과), 'ERROR-500'(서버 오류), 'ERROR-600'(DB 연결 오류), 'ERROR-601'(SQL 오류) 중 하나이다.",
        "properties": {
          "CODE": {
            "type": "string",
            "example": "INFO-000"
          },
          "MESSAGE": {
            "type": "string",
            "example": "정상 처리되었습니다."
          }
        },
        "required": ["CODE", "MESSAGE"]
      },
      "ResponseHead": {
        "type": "object",
        "properties": {
          "list_total_count": {
            "type": "integer",
            "description": "전체 조회 결과 건수"
          },
          "RESULT": {
            "$ref": "#/components/schemas/ResultCode"
          }
        }
      },
      "SchoolInfoRow": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": { "type": "string", "description": "시도교육청코드" },
          "ATPT_OFCDC_SC_NM": { "type": "string", "description": "시도교육청명" },
          "SD_SCHUL_CODE": { "type": "string", "description": "행정표준코드" },
          "SCHUL_NM": { "type": "string", "description": "학교명" },
          "ENG_SCHUL_NM": { "type": "string", "description": "영문학교명" },
          "SCHUL_KND_SC_NM": { "type": "string", "description": "학교종류명" },
          "LCTN_SC_NM": { "type": "string", "description": "시도명" },
          "JU_ORG_NM": { "type": "string", "description": "관할조직명" },
          "FOND_SC_NM": { "type": "string", "description": "설립명" },
          "ORG_RDNZC": { "type": "string", "description": "도로명우편번호" },
          "ORG_RDNMA": { "type": "string", "description": "도로명주소" },
          "ORG_RDNDA": { "type": "string", "description": "도로명상세주소" },
          "ORG_TELNO": { "type": "string", "description": "전화번호" },
          "HMPG_ADRES": { "type": "string", "description": "홈페이지주소" },
          "COEDU_SC_NM": { "type": "string", "description": "남녀공학구분명" },
          "ORG_FAXNO": { "type": "string", "description": "팩스번호" },
          "HS_SC_NM": { "type": "string", "description": "고등학교구분명" },
          "INDST_SPECL_CCCCL_EXST_YN": { "type": "string", "description": "산업체특별학급존재여부" },
          "HS_GNRL_BUSNS_SC_NM": { "type": "string", "description": "고등학교일반전문구분명" },
          "SPCLY_PURPS_HS_ORD_NM": { "type": "string", "description": "특수목적고등학교계열명" },
          "ENE_BFE_SEHF_SC_NM": { "type": "string", "description": "입시전후기구분명" },
          "DGHT_SC_NM": { "type": "string", "description": "주야구분명" },
          "FOND_YMD": { "type": "string", "description": "설립일자" },
          "FOAS_MEMRD": { "type": "string", "description": "개교기념일" },
          "LOAD_DTM": { "type": "string", "description": "수정일자" }
        }
      },
      "SchoolInfoResponse": {
        "type": "object",
        "properties": {
          "schoolInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "head": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ResponseHead" }
                },
                "row": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SchoolInfoRow" }
                }
              }
            }
          }
        }
      },
      "MealServiceDietInfoRow": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": { "type": "string", "description": "시도교육청코드" },
          "ATPT_OFCDC_SC_NM": { "type": "string", "description": "시도교육청명" },
          "SD_SCHUL_CODE": { "type": "string", "description": "행정표준코드" },
          "SCHUL_NM": { "type": "string", "description": "학교명" },
          "MMEAL_SC_CODE": { "type": "string", "description": "식사코드" },
          "MMEAL_SC_NM": { "type": "string", "description": "식사명" },
          "MLSV_YMD": { "type": "string", "description": "급식일자" },
          "MLSV_FGR": { "type": "string", "description": "급식인원수" },
          "DDISH_NM": { "type": "string", "description": "요리명 (메뉴명이 <br/>로 구분되어 나열됨)" },
          "ORPLC_INFO": { "type": "string", "description": "원산지정보" },
          "CAL_INFO": { "type": "string", "description": "칼로리정보 (예: '850.5 Kcal')" },
          "NTR_INFO": { "type": "string", "description": "영양정보 (탄수화물(g), 단백질(g), 지방(g) 등이 <br/>로 구분되어 나열됨)" },
          "MLSV_FROM_YMD": { "type": "string", "description": "급식시작일자" },
          "MLSV_TO_YMD": { "type": "string", "description": "급식종료일자" },
          "LOAD_DTM": { "type": "string", "description": "적재일시" }
        }
      },
      "MealServiceDietInfoResponse": {
        "type": "object",
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "head": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ResponseHead" }
                },
                "row": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/MealServiceDietInfoRow" }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/ResultCode"
          }
        }
      }
    }
  }
}
