{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS Open API",
    "description": "학교 기본정보 및 급식 식단정보 공개 API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr",
      "description": "NEIS Open API Server"
    }
  ],
  "paths": {
    "/hub/schoolInfo": {
      "get": {
        "operationId": "getSchoolInfo",
        "summary": "(학교기본정보)",
        "description": "학교 기본정보 조회",
        "parameters": [
          {
            "name": "Key",
            "in": "query",
            "required": true,
            "description": "인증키",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "required": true,
            "description": "호출 문서(xml, json)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적인 응답",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schoolInfo": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/hub/mealServiceDietInfo": {
      "get": {
        "operationId": "getMealServiceDietInfo",
        "summary": "(급식식단정보)",
        "description": "급식 식단정보 조회",
        "parameters": [
          {
            "name": "Key",
            "in": "query",
            "required": true,
            "description": "인증키",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "required": true,
            "description": "호출 문서(xml, json)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pIndex",
            "in": "query",
            "required": true,
            "description": "페이지 위치",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pSize",
            "in": "query",
            "required": true,
            "description": "페이지 당 요청 숫자",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공적인 응답",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mealServiceDietInfo": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "에러 코드"
          },
          "message": {
            "type": "string",
            "description": "에러 메시지"
          }
        }
      }
    }
  }
}
